{% ckan_extends %}

{#
This customization:
- Adds the  content provider logo (10% width)
- Makes dataset-content div 80% width (in tess.css)
- Keeps all other blocks the same by calling super()
#}

{% block content %}
    <div class="dataset-content">
        {% block heading %}
            {{ super() }}
        {% endblock %}
        {% block banner %}
            {{ super() }}
        {% endblock %}
        {% block notes %}
            {{ super() }}
        {% endblock %}
    </div>

    <div class="package-icons">
    <a href="{{ h.url_for(controller='organization', action='read', id=package.organization.name) }}">
        <img src="{{package.organization.image_url}}" class="dataset-content-provider-logo" alt="{{package.organization.name}}"/>
    </a>
    {% if package.node_id %}
        <a href="{{ h.url_for(controller='ckanext.tess.node:NodeController', action='read', id=package.node_id) }}">
            {% set country_code = h.country_code_of_node(package.node_id) %}
            {% if country_code == 'EMBL-EBI' %}
                {% set country_code = 'EBI' %}
            {% elif country_code == 'GB' %}
                {% set country_code = 'UK' %}
            {% endif %}
            <div class="dataset-node-icon img-circle-small"><i class="icon-elixir"></i>{{country_code}}</div>
        </a>
    {% endif %}
    </div>
{% endblock %}

