{% ckan_extends %}

{#
This customization:
- Adds the  content provider logo (10% width)
- Makes dataset-content div 80% width (in tess.css)
- Keeps all other blocks the same by calling super()
#}

{% block content %}
    <div class="dataset-content">
        {% block heading %}
            {{ super() }}
        {% endblock %}
        {% block banner %}
            {{ super() }}
        {% endblock %}
        {% block notes %}
            {{ super() }}
        {% endblock %}
    </div>

    <div class="package-icons">
        {% set image_url = package.organization.image_url %}
         {%  if image_url and not image_url.startswith('http') %}
            {% set image_url = h.url_for_static('uploads/group/%s' % package.organization.image_url, qualified=True) %}
         {% endif %}
        {% if image_url %}
            <a href="{{ h.url_for(controller='organization', action='read', id=package.organization.name) }}">
            <img src="{{image_url}}" alt="{{ package.organization.name }}" class="media-image">
            </a>
        {% else %}
            <!--a href="{{ h.url_for(controller='organization', action='read', id=package.organization.name) }}">
            <img src="{{h.url_for_static('/base/images/placeholder-organization.png')}}" alt="{{ package.organization.name }}" class="media-image">
            </a-->
        {% endif %}
    {% if package.node_id and false %}
        <a href="{{ h.url_for(controller='ckanext.tess.node:NodeController', action='read', id=package.node_id) }}">
            {% set country_code = h.country_code_of_node(package.node_id) %}
            {% if country_code == 'EMBL-EBI' %}
                {% set country_code = 'EBI' %}
            {% elif country_code == 'GB' %}
                {% set country_code = 'UK' %}
            {% endif %}
            <div class="dataset-node-icon img-circle-small"><i class="icon-elixir"></i>{{country_code}}</div>
        </a>
    {% endif %}
    </div>
{% endblock %}

