<!--div class="content"-->
{% block about %}   
 {% block header_site_navigation %}
    <nav class="section navigation">
      <ul class="nav nav-pills">
        <li><a href="/nodes/hub.html">Hub</a></li>
        <li><a href="/nodes/uk.html">UK</a></li>
        <li><a href="/nodes/nl.html">Netherlands</a></li>
        <li><a href="/nodes/ch.html">Switzerland</a></li>
        <li><a href="/nodes/se.html">Sweden</a></li>
        <li><a href="/nodes/fi.html">Finland</a></li>
        <li><a href="/nodes/pt.html">Portugal</a></li>
        <li><a href="/nodes/ee.html">Estonia</a></li>
        <li><a href="/nodes/il.html">Israel</a></li>
        <li><a href="/nodes/no.html">Norway</a></li>
        <li><a href="/nodes/dk.html">Denmark</a></li>
        <li><a href="/nodes/embl.html">EMBL-EBI</a></li>
        <li><a href="/nodes/si.html">Slovenia</a></li>
        <li><a href="/nodes/fr.html">France</a></li>
        <li><a href="/nodes/be.html">Belgium</a></li>
        <li><a href="/nodes/cr.html">Czech Republic</a></li>
        <li><a href="/nodes/es.html">Spain</a></li>
        <li><a href="/nodes/it.html">Italy</a></li>
    </ul>
  </nav>
  {% endblock %}
{% endblock %}
<!--/div-->

