<!--div class="content"-->
{% block about %}
{% block header_site_navigation %}
<nav class="section navigation">
    <ul class="nav nav-pills">
        <li><a href="/nodes/hub.html">The Hub</a></li>
        <li><a href="/nodes/BE.html">Belgium</a></li>
        <li><a href="/nodes/CR.html">Czech Republic</a></li>
        <li><a href="/nodes/DK.html">Denmark</a></li>
        <li><a href="/nodes/EMBL-EBI.html">EMBL-EBI</a></li>
        <li><a href="/nodes/EE.html">Estonia</a></li>
        <li><a href="/nodes/FI.html">Finland</a></li>
        <li><a href="/nodes/FR.html">France</a></li>
        <li><a href="/nodes/GR.html">Greece</a></li>
        <li><a href="/nodes/IL.html">Israel</a></li>
        <li><a href="/nodes/IT.html">Italy</a></li>
        <li><a href="/nodes/NL.html">Netherlands</a></li>
        <li><a href="/nodes/NO.html">Norway</a></li>
        <li><a href="/nodes/PT.html">Portugal</a></li>
        <li><a href="/nodes/SI.html">Slovenia</a></li>
        <li><a href="/nodes/ES.html">Spain</a></li>
        <li><a href="/nodes/SE.html">Sweden</a></li>
        <li><a href="/nodes/CH.html">Switzerland</a></li>
        <li><a href="/nodes/GB.html">UK</a></li>
    </ul>
</nav>
{% endblock %}
{% endblock %}

