<h2>Staff</h2>
<hr/>

{% set trc = node.has_key('trc') %}
{% set tec = node.has_key('tec') %}
{% set hon = node.has_key('hon') %}
{% if trc or tec or hon %}
    <p class="module-content">
    {% if hon %}
        <b>Head of node:</b> {{node.get('hon')}} <br>
    {% endif %}
    {% if trc %}
        <b>Training coordinator:</b> {{node.get('trc')}} <br>
    {% endif %}
    {% if tec %}
        <b>Technical coordinator:</b> {{node.get('tec')}}
    {% endif %}
    </p>
{% else %}
    <p class="module-content empty">No staff found for this node</p>
{% endif %}

