<script>
    $(function() {
        populateModal();
        // Handler for .ready() called.
    });

    $('#modal-footer').on('click', '#save-material', function(event) {
        var selected = [];
        $('#training_materials input:checked').each(function() {
            selected.push({
                        'name': $(this).attr('data-name'),
                        'id': $(this).attr('data-id')
            });
            $('#bloop').append($(this).attr('data-name'))
        });
        cy.$(':selected').data('materials', selected);
    });

       function populateModal() {
            $('#save-material').toggle();
            $('#training_materials input:checked').each(function () {
                $(this).prop('checked', false);
            });
            $('#workflow-materials').empty();
            /* Setup existing content (node name, node description, node's associated resources) */
            var node = $.parseJSON($('#node-info').val());
            if (node.name) {
                $('.modal-workflow-title').text(node.name);
            }
            else {
                $('.modal-workflow-title').text('Unnamed Stage');
            }
            if (node.description) {
                $('.modal-workflow-description').text(node.description);
                $('.modal-workflow-description').removeClass('empty')
            }
            else {
                $('.modal-workflow-description').text('There is no description for this workflow node.');
                $('.modal-workflow-description').addClass('empty')
            }
            if (node.materials != undefined && node.materials.constructor === Array && node.materials.length > 0) {
                $.each(node.materials, function (index, material) {
                    var row = '<tr>';
                    row += '<td><a href="/package/' + material['id'] + '">' + material['name'] + '</a></td>';
                    row += '</tr>';
                    $('#workflow-materials').append(row);
                    /* Check associated material checkboxes  */
                    $('#' + material['id']).prop('checked', true)
                    /* Delete and Prepend them so they bubble to the top */
                    var assigned_material = $('#row-' + material['id']);
                    assigned_material.remove()
                    $('#training_materials').prepend(assigned_material)
                });
            } else {
                $('#workflow-materials').html('<div class="empty">There are currently no associated materials with this workflow stage.</div>');
            }
    }


</script>

<div>
    <h3>Description</h3>
    <div class="modal-workflow-description empty">No description set</div>
    <h3><em class="modal-workflow-title"></em></h3>
    <table id="workflow-materials"></table>
</div>

<h3>Add training materials to <em class="modal-workflow-title"></em>:</h3>
<table class='table' id="training_materials">
{% for mat in c.training_materials %}
    <tr id="row-{{mat.get('id')}}">
        <td style="width:20px;"><input style="position:static !important;" type="checkbox" data-name="{{ mat['value'] }}" data-id="{{ mat['id'] }}" id="{{ mat['id'] }}" value="0"/></td>
        <td><span id="">{{ mat['value'] }}</span></td>
    </tr>
{% endfor %}
</table>
