{% extends "organization/edit_base.html" %}

{% set organization = c.group_dict %}

{% block primary_content_inner %}
      {% block search_form %}
          {% set sorting = [
            (_('Name Ascending'), 'title_string asc'),
            (_('Name Descending'), 'title_string desc'),
            (_('Last Modified'), 'data_modified desc') ]
          %}
          {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, no_title=true, search_class=' ', no_bottom_border = True %}
        {% endblock %}
  <div class="clearfix" style="width:100%">
    <h1 class="hide-heading">{{ _('Edit training materials') }}</h1>

      <h3 class="page-heading">
        {% block page_heading %}
          {%- if c.page.item_count -%}
            {{ c.page.item_count }} training materials {{ _(" found for \"{query}\"").format(query=c.q) if c.q }}
          {%- elif request.params -%}
            {{ _('Sorry no training materials found for "{query}"').format(query=c.q) }}
          {%- else -%}
            {{ _('Training materials') }}
          {%- endif -%}
        {% endblock %}
      </h3>
      {% block form %}
        {% if c.page.item_count %}
          <form method="POST" data-module="basic-form">
            <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
              {% set organization_node = h.get_node(c.group_dict.node_id) %}
              <col width="8">
              {% if organization_node %}<col width="18">{% endif %}
              <col width="120">
              <thead>
                <tr>
                  <th></th>
                    {% if organization_node %}<th style="text-align: center; vertical-align: middle">ELIXIR Node</th>{% endif %}
                    <th class="table-actions">
                    <div class="btn-group">
                      {% if organization_node %}
                        <button name="bulk_action.node_assign" value="{{organization_node.name}}" class="btn" type="submit">
                            <i class="icon-elixir"></i>
                            {{ _('Assign to node') }}
                        </button>
                      {% endif %}
                      <button name="bulk_action.public" value="public" class="btn" type="submit">
                        <i class="icon-eye-open"></i>
                        {{ _('Make public') }}
                      </button>
                      <button name="bulk_action.private" value="private" class="btn" type="submit">
                        <i class="icon-eye-close"></i>
                        {{ _('Make private') }}
                      </button>
                    </div>
                    <div class="btn-group">
                      <button style="float:right" name="bulk_action.delete" value="delete" class="btn btn-danger" type="submit">
                        <i class="icon-remove"></i>
                        {{ _('Delete') }}
                      </button>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for package in c.packages %}
                  {% set truncate = truncate or 180 %}
                  {% set truncate_title = truncate_title or 80 %}
                  {% set title = package.title or package.name %}
                  {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
                  {% set node = h.get_node(package.get('node_id')) %}
                  <tr>
                    <td style="vertical-align: middle">
                      <input type="checkbox" name="dataset_{{ package.id }}" value="{{ node.name }}" style="top: -3px;">
                    </td>
                      {% if organization_node %}<td style="text-align: center;">
                        {% if node %}
                            {% if node==organization_node %}<b>{% endif %}
                                {{ node.display_name }}
                            {% if node==organization_node %}</b>{% endif %}
                        {% endif %}
                            </td>
                      {% endif %}
                    <td class="context">
                      <a href="{% url_for controller='package', action='edit', id=package.name %}" class="edit pull-right">
                        {{ _('Edit') }}
                      </a>
                      <h3 class="dataset-heading">
                        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
                        {% if package.get('state', '').startswith('draft') %}
                          <span class="label label-info">{{ _('Draft') }}</span>
                        {% elif package.get('state', '').startswith('deleted') %}
                          <span class="label label-important">{{ _('Deleted') }}</span>
                        {% endif %}
                        {% if package.private %}
                          <span class="label label-important">{{ _('Private') }}</span>
                        {% endif %}
                      </h3>
                      {% if notes %}
                        <p>{{ notes|urlize }}</p>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        {% else %}
          <p class="empty">{{ _('This content provider has no training materials associated to it') }}</p>
        {% endif %}
      {% endblock %}

  </div>
  {{ c.page.pager() }}
{% endblock %}

{% block secondary_content %}
        {#{% snippet 'snippets/simple_search.html', q=c.q, sort=c.sort_by_selected, placeholder=_('Search training materials...'), extra_sort=[(_('Last Modified'), 'data_modified asc')], input_class='search-normal', form_class='search-aside' %}#}
        {% for facet in c.facet_titles %}
          {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
        {% endfor %}
{% endblock %}