{% extends "event/read_base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% block events_search_form %}

        {% set sorting = [ (_('Date Earliest'), 'end asc'),
                           (_('Date Latest'), 'end desc')] %}
        {% snippet 'snippets/search_form.html',     fields=[('category', c.category.lower()), ('include_expired', c.include_expired_events)],
                                            type=(c.category.lower() or 'event'),
                                            query=c.q,
                                            sorting=sorting,
                                            sorting_selected=c.sort_by_selected,
                                            count=c.events_count,
                                            placeholder=_('Search Events...'),
                                            show_empty=request.params,
                                            no_bottom_border=true
        %}
    {% endblock %}

    {% block events_limit %}
        Displaying the next
                    {% if (c.rows > c.events_count) %}
                        <b>{{c.events_count}}</b> of
                        <b>{{ c.events_count }}</b> upcoming events.<br>
                    {% else %}
                        <b>{{c.rows }}</b> of
                        <b>{{ c.events_count }}</b> upcoming events.<br>
                    {% endif %}


        {% if c.events_count >= 50 %}
                <br>Set the number of upcoming events to plot to
                {% if c.rows == 50 %}<b style="text-underline: thick">{% endif %}
                {% set href = h.remove_url_param('rows', replace=50) %}<a href={{href}}>50</a> |
                {% if c.rows == 50 %}</b>{% endif %}
                {% if c.events_count >= 150 %}
                        {% if c.rows == 150 %}<b style="text-underline: thick">{% endif %}
                        {% set href = h.remove_url_param('rows', replace=150) %} <a href={{href}}>150</a> |
                        {% if c.rows == 150 %}</b>{% endif %}
                {% endif %}

                {% if c.rows >= c.events_count %}<b style="text-underline: thick">{% endif %}
                {% set href = h.remove_url_param('rows', replace=c.events_count) %} <a href={{href}}>{{ c.events_count }} (all) </a>
                {% if c.rows >= c.events_count %}</b>{% endif %}
        {% endif %}
    {% endblock %}


    {% block events_display %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script>
            var map;
            function initialize() {
                /* center on first event. Map center and zoom will reconfigure later (fitbounds method)*/
                  var mapOptions = {
                        zoom: 15,
                        center: new google.maps.LatLng(events[0][0], events[0][1])
                    };
                    var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);

                    setEvents(map, events);
                    $('#materials-{{id}}').click(function(){
                        $('#event-material-{{id}}').modal('show');
                        alert('clickky')
                    });
            }

            var events = [];
            {% if c.events %}
                {% for event in c.events %}
                    var event_display = "<a href='{{event.get('link')}}' target='_blank'>" +
                            "<h3>{{event.get('title') }}</h3></a>" +
                            "<b>Date: </b>{{ event.get('succinct_dates')}}<br>" +
                            "<b>Location:</b> {{ event.get('city')}}, {{ event.get('country')}}<br>" +
                            "<b>Provider:</b> {{ event.get('provider', 'Not specified') }}<br>"
                    {% if event.get('materials') %}
                        event_display += "<button class='btn btn-default' id='materials-{{event.get('id')}}'>See related materials</button>";
                        var modal_materials = "<div id='event-material-{{event.get('id')}}' class='modal hide fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='zindex:15'>" +
                                "<div class='modal-header'>" +
                                "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>" +
                                "<h3 id='myModalLabel'>Training materials for {{event.get('title')}}</h3>" +
                                "</div>" +
                                "<div class='modal-body'>" +
                                "</div>" +
                                "</div>";
                        $('#material-modal').html(modal_materials);
                    {% endif %}
                    events.push([
                        {{ event.get('latitude') }},
                        {{ event.get('longitude') }},
                        event_display,
                        "{{event.get('title')}}"
                    ]);
                {% endfor %}
            {% endif %}


            function setEvents(map, events){

                var bounds = new google.maps.LatLngBounds();
                var infowindow = new google.maps.InfoWindow({content: "Content String"});
                for (var i = 0; i < events.length; i++) {
                    var new_marker = createMarker(map, events[i], infowindow)
                    bounds.extend(new_marker.position);
                }
                map.fitBounds(bounds);
            }

            function createMarker(map, event, infowindow){
                var position = new google.maps.LatLng(event[0], event[1]);
                var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: event[3]
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent(event[2]);
                    infowindow.open(map,marker);
                });
                return marker;
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
            <div id="map-canvas" style="background-color: transparent; height: 750px;"></div>
            <div id="material-modal"></div>

    {% endblock %}

{% endblock %}
