{% extends "event/read_base.html" %}

{% block primary_content_inner %}
    {% block events_search_form %}

        {% snippet 'snippets/search_form.html',     fields=[('category', c.category.lower()), ('include_expired', c.include_expired_events)],
                                            type=(c.category.lower() or 'event'),
                                            query=c.q,
                                            count=c.events_count,
                                            placeholder=_('Search Events...'),
                                            show_empty=request.params,
                                            no_bottom_border=true
        %}
        Number of events:  50 | 100 | 200 | 500 | all
    {% endblock %}
    {% block events_display %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script>
            var map;
            function initialize() {
                /* center on first event. Map center and zoom will reconfigure later (fitbounds method)*/
                  var mapOptions = {
                        zoom: 15,
                        center: new google.maps.LatLng(events[0][0], events[0][1])
                    };
                    var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);

                    setEvents(map, events);
            }

            var events = [];
            {% for event in c.events %}
                var info_options = {
                    content: "blah"
                }
                events.push([
                    {{ event.get('latitude') }},
                    {{ event.get('longitude') }},
                    "{{ event.get('title') }}",
                    "{{event.get('link')}}",
                    "{{event.get('succinct_dates')}}",
                    "{{event.get('venue')}}"
                ]);
            {% endfor %}


            function setEvents(map, events){

                var bounds = new google.maps.LatLngBounds();
                var infowindow = new google.maps.InfoWindow({content: "Content String"});
                for (var i = 0; i < events.length; i++) {
                    var new_marker = createMarker(map, events[i], infowindow)
                    bounds.extend(new_marker.position);
                }
                map.fitBounds(bounds);
            }

            function createMarker(map, event, infowindow){
                var position = new google.maps.LatLng(event[0], event[1]);
                var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: event[2]
                });
                console.log(event)
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent('<a href="' + event[3] + '"> ' + event[2] + '</a><br> ' + event[4]);
                    infowindow.open(map,marker);
                });
                return marker;
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

            <div id="map-canvas" style="position:fixed; height: 1000px;"></div>
    {% endblock %}

{% endblock %}
