{% extends "page.html" %}

{% block subtitle %}{{ _('Events') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Events'), controller='group', action='index' %}</li> /
<li>Map</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
    {% link_for _('Add event'), controller='ckanext.tess.plugin:TeSSController', action='report_event', class_="btn btn-primary", icon="plus-sign-alt"%}
{% endblock %}

{% block primary_content_inner %}
    {% block events_search_form %}
        {% set sorting = [ (_('Date Earliest'), 'end asc'),
                           (_('Date Latest'), 'end desc')] %}
        {% snippet 'snippets/search_form.html',     fields=[('category', c.category.lower()), ('include_expired', c.include_expired_events)],
                                            type=(c.category.lower() or 'event'),
                                            query=c.q,
                                            sorting=sorting,
                                            sorting_selected=c.sort_by_selected,
                                            count=c.events_count,
                                            placeholder=_('Search Events...'),
                                            show_empty=request.params,
                                            no_bottom_border=true
        %}
    {% endblock %}
    {% block events_map %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script>
            var map;
            function initialize() {
                  var mapOptions = {
                    zoom: 1,
                    center: new google.maps.LatLng(-33.9, 151.2)
                    }
                    var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
                    setEvents(map, events);
            }


            events = [
            {% for event in c.events %}
                [ {{event.get('latitude')}}, {{event.get('longitude')}} ],
            {% endfor %}
            ]

            function setEvents(map, events){
                for (var i = 0; i < events.length; i++) {
                    var e = events[i];
                    var myLatLng = new google.maps.LatLng(e[0], e[1]);
                    console.log(myLatLng);
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'HELLO'
                    })
                }
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

            <div id="map-canvas" style="position:fixed; height: 1000px;"></div>
    {% endblock %}

    {% block attribution %}
        <p class="events-source-title"><strong>Source:</strong>
        <a target="_blank" href="http://iann.pro"><img alt="iAnn" src="/images/iann_logo-32x30.png"/></a></p>
    {% endblock %}

{% endblock %}

{% block secondary_content %}
    {% snippet "event/snippets/helper.html" %}
    {% snippet "event/snippets/filters.html" %}
{% endblock %}
