{% set expired = event.pop('expired', None) %}
{% if event.get('link') %}
    {% set link = event.pop('link') %}
    <a href="{{link}}" target="_blank"><h3>{{event.pop('title') }}</h3></a>
{% else %}
    <h3>{{event.pop('title') }}</h3><br>
{% endif %}

{% if event.get('subtitle') %}
    <i>{{event.pop('subtitle') }}</i><br>
{% endif %}

{% if event.get('city') and event.get('country') %}
    <b>Place:</b> {{ event.pop('city')}}, {{ event.pop('country')}}<br>
{% endif %}

{% if event.get('starts') %}
    <b>Starts:</b> {{ event.pop('starts')}}<br>
{% endif %}
{% if event.get('ends') %}
    <b>Finish:</b> {{ event.pop('ends')}}<br>
{% endif %}

{% set id = event.pop('id') %}
{% for k, v in event.iteritems(): %}
  {% if v %}
 <b>{{k.title()}}</b>: {{v}}<br>
  {% endif %}
{% endfor %}

{% if related %}
    <br><a class="btn" value="{{related.id}}">Associate with Material</a>
{% endif %}

{% if expired %}
        <h4 style="color: rgb(176, 0, 0); text-align: center">[This event happened {{expired}}]</h4><br>
{% endif %}