{% import 'macros/form.html' as form %}

{% if c.include_expired_events %}
    {% set href = h.remove_url_param('include_expired', extras=extras, alternative_url=alternative_url) %}
    {% set text = 'Exclude past events' %}
{% else %}
    {% set href = h.add_url_param(new_params={'include_expired': true}, extras=extras, alternative_url=alternative_url) %}
    {% set text = 'Include past events' %}
{% endif %}
{% block past_events %}
<div class="event-options">
    <a href="{{ href }}" title="expired">
        <span class="btn btn-default">
            <i class="icon-time"> {{text}}</i>
        </span>
    </a>
</div><hr>
{% endblock %}