{#
Display events. Requires many global c values. Checkout ckanext-tess plugin.py#Events.

related - True or False - Used when loading events as a tab in manage a training material
#}

{% block events_list %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<ul class="media-grid" data-module="media-grid ">
	{% block events_list_inner %}
        {% resource 'tess/associate_event.js' %}
        {% if events %}
            {% for event in events: %}
                {% if related %}
                    {% snippet "event/snippets/events_item.html", event=event, type='related', position=loop.index %}
                {% else %}
                    {% snippet "event/snippets/events_item.html", event=event, type='regular', position=loop.index %}
                {% endif %}
            {% endfor %}
        {% endif %}
  {% endblock %}
</ul>
{% endblock %}


