{#
Event - Event hash - see plugin.py
Type - 'related', 'associated', or 'regular'/''/None
#}

{% if event.get('link') %}
    {% set link = event.pop('link') %}
{% endif %}
{% block item %}
    {% set id = event.pop('id', 0) %}
    <div id="event-{{id}}" >

    {% block expired %}
        {% if event.get('expired', False) %}
            {# Want 2 in a row? add to class - masonry-brick node-brick #}
            <li class="media-item expired_event" style="background-color: hotpink;">
        {% else %}
            <li class="media-item">
        {% endif %}
    {% endblock %}
    {% set expired = event.pop('expired', None) %}

    {% block heading %}
        {% if link %}
            <a href="{{link}}" target="_blank"><h4 style="margin:0px; padding:0px;">{{event.pop('title') }}</h4></a>
        {% else %}
            <h3 class="media-heading">{{event.pop('title') }}</h3><br>
        {% endif %}
    {% endblock %}

    {% block subtitle %}
        {% if event.get('subtitle') %}
            <i>{{event.pop('subtitle') }}</i><br>
        {% endif %}
    {% endblock %}

    {% block date %}
        {% if event.get('succinct_dates') %}
        <b>Date:</b>
            {{ event.pop('succinct_dates')}}<br>
        {% endif %}
    {% endblock %}
        
    {% block venue %}
        {% if event.get('venue') %}
            <b>Venue:</b> {{ event.pop('venue')}}
        {% endif %}
    {% endblock %}

    {% block location %}
        {% if event.get('city') and event.get('country') %}
            <b>Location:</b> {{ event.pop('city')}}, {{ event.pop('country')}}<br>
        {% endif %}
    {% endblock %}

    {% block provider %}
        {% if event.get('provider') %}
           <b>Provider:</b> {{ event.pop('provider') }}<br>
        {% endif %}
    {% endblock %}

    {% if event.get('materials') %}
        {% snippet "event/snippets/material.html", id=id, event=event%}
    {% endif %}


    {% if type == 'related' %}
        <br>
        <button data-module="event_association"
                class="btn"
                href="#"
                data-module-action="associate_event"
                data-module-event_id="{{id}}"
                data-module-event_url="{{link}}"
                data-module-resource_id="{{c.pkg_dict.id}}"
                data-module-key="{{c.key}}">Associate with material</button>
    {% endif %}

    {% if expired %}
        <h4 style="color: rgb(176, 0, 0); text-align: center">[This event happened {{expired}}]</h4>
    {% endif %}
    {% if type == 'associated' %}
        <br>
        <button data-module="event_association"
                class="btn"
                href="#"
                data-module-action="unassociate_event"
                data-module-event_id="{{id}}"
                data-module-event_url="{{link}}"
                data-module-resource_id="{{c.pkg_dict.id}}"
                data-module-key="{{c.key}}">Unassociate event</button>
    {% endif %}

    </li>
</div>

{% endblock %}
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}