
<div class="filters">
    <div>
        {% block facet_list_items %}
        {% for filter_name, filter_options in c.filters.iteritems() %}

        <h2 class="module-heading"><i class="icon-medium icon-filter"></i> {{filter_name.replace('_', ' ').capitalize() }}</h2>
        <nav>
            <ul class="{{ nav_class or 'unstyled nav nav-simple nav-facet' }}">

                {% if not c.active_filters[filter_name] %} <!--c.category not in names -->
                    {% for filter in filter_options[:(h.get_param_int('_%s_limit' % filter_name))] %}
                        {% set href = h.add_url_param(new_params={filter_name: filter['name']}) %}
                        <li class='nav-item'><a href="{{ href }}" title="{{ filter['name']}}"><span>{{ filter['name']}} ({{filter['count']}}) </span></a></li>
                    {% endfor %}
                {% else %}
                    {% set href = h.remove_url_param(filter_name) %}
                    <li class='nav-item active'><a href="{{ href }}" title="{{ c.active_filters[filter_name] }}"><span>{{ c.active_filters[filter_name] }}</span></a></li>
                    {% for filter in filter_options[:(h.get_param_int('_%s_limit' % filter_name))] %}
                        {% if c.active_filters[filter_name] != filter['name']  %}
                            {% set params = c.active_filters[filter_name] + ',' + filter['name'] %}
                            {% set href = h.add_url_param(new_params={filter_name: params}) %}
                            <li class='nav-item'><a href="{{ href }}" title="{{ filter['name']}}"><span>{{ filter['name']}} ({{filter['count']}}) </span></a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
        {% if filter_name == 'country' %}
            {% set plural_title = 'countries' %}
        {% else %}
            {% set plural_title = filter_name + 's' %}
        {% endif %}
        <p class="module-footer">
            {% if not c.active_filters[filter_name] %}
            {% if h.has_more_options(filter_options) %}
                {% if h.get_param_int('_%s_limit' % filter_name) <= 10%}
                    <a href="{{ h.remove_url_param('_%s_limit' % filter_name, replace=1000) }}" class="read-more">{{ _('Show more {name}').format(name=plural_title) }}</a>
                {% else %}
                      <a href="{{ h.remove_url_param('_%s_limit' % filter_name) }}" class="read-more">{{ _('Show less {name}').format(name=plural_title) }}</a>
                {% endif %}
            {% endif %}
            {% endif %}

        </p><br>
        {% endfor %}
        {% endblock %}
    </div>
</div>
