<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="icon-info-sign"></i>
        {{ _('Events') }}
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
            Events are sourced from <a href="http://iAnn.pro" target="_blank">iAnn.pro</a>: a curated database of Life Science events.<br>
            You can use the filters (below) and search bar (right) to find relevant events and courses. <br><br>
            If you wish to register a new event you can <a href="/event/new">report</a> one with iAnn.</a>
            {% endtrans %}
        </p>
    </div>
</div>