
{# node_name must be set from the page that extends this template.
 If you do not set node_name to be a valid Elixir Node name like 'United Kingdom' or 'Switzerland'
 you risk reversing the Entropy of the Universe and destroying us all. You've been warned!
#}

{% extends "page.html" %}

{% set hub = True %}
{% block subtitle %}{{ _('Nodes') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Nodes'), controller='group', action='index' %}</li>
{% endblock %}

{% block primary %}
  {# snippet "nodes/snippets/helper.html" #}

<div class="row-fluid">
    <div class="span8 offset2">
      <div style="width:90%; margin:auto;">
        <h1> Welcome to ELIXIR! <br>Select an ELIXIR Node to find out more about it: </h1>
      </div>
    </div>
</div>
<br><br>
<div class="row-fluid">
     <div class="span3">
      <a href="/nodes/uk.html"><img src="/images/node_flags/GB.png" class="img-circle"/>
      <div style="width:95%; margin:auto;">
        <h3>United Kingdom</h3></a>
        <b>Head of Node:</b> <a href="mailto:chris.ponting@dpag.ox.ac.uk">Chris Ponting</a> <br/>
        <b>Training Co-ord:</b> <a href="mailto: ">Rita Hendricusdottir</a> <br/>
        <b>Technical Co-ord:</b> <a href="mailto: ">Manuel Corpas </a>
      </div>
    </div>
    <div class="span1"></div>
    <div class="span3">
      <a href="/nodes/nl.html"><img src="/images/node_flags/NL.png" class="img-circle"/>
      <div style="width:90%; margin:auto;">
        <h3>Netherlands</h3></a>
        <b>Head of Node:</b> <a href="mailto: "> Barend Mons </a><br>
        <b>Training Co-Ord:</b> <a href="mailto: ">Celia Van Gelder</a> <br>
        <b>Technical Co-Ord:</b> <a href="mailto: ">Rob Hooft</a>
      </div>
    </div>
    <div class="span1"></div>
     <div class="span3">
      <a href="/nodes/ch.html"><img src="/images/node_flags/CH.png" class="img-circle"/>
      <div style="width:90%; margin:auto;">
        <h3>Switzerland</h3></a>
        <b>Head of Node:</b> <a href="mailto: ">Rob Appel</a> <br>
        <b>Training Co-Ord:</b> <a href="mailto: "> Patricia Palagi </a><br>
        <b>Technical Co-Ord:</b> <a href="mailto: "> Heinz Stockinger</a>
      </div>
    </div>
</div>
<br><br>    

<div class="row-fluid">
   <div class="span3">
      <a href="/nodes/se.html"><img src="/images/node_flags/SE.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>Sweden</h3></a>
      </div>
   </div>
   <div class="span1"></div>
     <div class="span3">
      <a href="/nodes/fi.html"><img src="/images/node_flags/FI.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>Finland</h3></a>
      </div>
    </div>
  <div class="span1"></div>
     <div class="span3">
      <a href="/nodes/pt.html"><img src="/images/node_flags/PT.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>Portugal</h3></a>
      </div>
    </div>
</div>
<br><br>    

<div class="row-fluid">
   <div class="span3">
      <a href="/nodes/ee.html"><img src="/images/node_flags/EE.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>Estonia</h3></a>
      </div>
    </div>
    <div class="span1"></div>
     <div class="span3">
      <a href="/nodes/il.html"><img src="/images/node_flags/IL.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>Israel</h3></a>
      </div>
    </div>
    <div class="span1"></div>
     <div class="span3">
      <a href="/nodes/no.html"><img src="/images/node_flags/NO.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>Norway</h3></a>
      </div>
    </div>
</div>
<br><br>    
<div class="row-fluid">
     <div class="span3">
      <a href="/nodes/dk.html"><img src="/images/node_flags/DK.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>Denmark</h3></a>
      </div>
    </div>
    <div class="span1"></div>
     <div class="span3">
      <a href="/nodes/embl.html"><img src="/images/nodes/ebi/logo.png" class="img-circle"/>
      <div style="width:70%; margin:auto;">
        <h3>EBI</h3></a>
      </div>
    </div>
<div class="span1"></div>
</div>

<br>
{% endblock %}

{% block secondary %}
{% endblock %}






