
{# node_name must be set from the page that extends this template.
 If you do not set node_name to be a valid Elixir Node name like 'United Kingdom' or 'Switzerland'
 you risk reversing the Entropy of the Universe and destroying us all. You've been warned!
#}

{% extends "page.html" %}

{% set hub = True %}
{% block subtitle %}{{ _('Nodes') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Nodes'), controller='group', action='index' %}</li>
{% endblock %}

{% block primary %}
  {# snippet "nodes/snippets/helper.html" #}

<div class="row-fluid">
    <div class="offset1">
        <h1>Welcome to ELIXIR Nodes</h1>
        <p>Find out training-related information for each node</p>
    </div>
</div>
<div class="row-fluid">
    <div class="offset1 span10 module-content box" style="border: 1px solid #DDD; padding-bottom: 20px;">
        <div class="span6 col1">
            <h3 style="margin-top: 0px;">ELIXIR Hub</h3>
            <p>
                <a href="http://www.elixir-europe.org/about/elixir-hub">The Hub</a> accommodates the ELIXIR executive management and secretariat and
                coordinates integration of services run from the ELIXIR nodes.
                It has overall responsibility for developing and delivering the ELIXIR programme,
                coordinates ELIXIR's governance bodies and technical committees, and
                provides oversight of biological data throughout Europe by creating data registries
                and coordinating development of data standards.
            </p>
        </div>
        <div class="span6 col2"><img src="/images/elixir-hub.jpg"></div>
    </div>
</div>
<br><br>
<div class="row-fluid">
  <div class="span11 offset1">
     {% snippet "nodes/snippets/flag.html", name="United Kingdom", 
                                            flag="/images/node_flags/GB.png",
                                            page="/nodes/uk.html",
                                            hon="<a href='mailto:chris.ponting@dpag.ox.ac.uk'>Chris Ponting</a>",
                                            trc="<a href='mailto: '>Rita Hendricusdottir</a>",
                                            tec="<a href='mailto: '>Manuel Corpas </a>" %}
                                                         
     {% snippet "nodes/snippets/flag.html", name="Netherlands", 
                                            flag="/images/node_flags/NL.png",
                                            page="/nodes/nl.html",
                                            hon="<a href='mailto: '>Barend Mons</a>",
                                            trc="<a href='mailto: '>Celia Van Gelder</a>",
                                            tec="<a href='mailto: '>Rob Hooft</a>" %}

     {% snippet "nodes/snippets/flag.html", name="Switzerland", 
                                            flag="/images/node_flags/CH.png",
                                            page="/nodes/ch.html",
                                            hon="<a href='mailto: '>Rob Appel</a>",
                                            trc="<a href='mailto: '>Patricia Palagi</a>",
                                            tec="<a href='mailto: '>Heinz Stockinger </a>" %}

  </div>
</div>
<br><br>

<div class="row-fluid">
  <div class="span11 offset1">
     {% snippet "nodes/snippets/flag.html", name="Sweden", 
                                            flag="/images/node_flags/SE.png",
                                            page="/nodes/se.html",
                                            hon="<a href='mailto: '>Bengt Persson</a>",
                                            trc="<a href='mailto: '>Sara Light</a>",
                                            tec="<a href='mailto: '>Mikael Borg</a>" %}
     {% snippet "nodes/snippets/flag.html", name="Finland", 
                                            flag="/images/node_flags/FI.png",
                                            page="/nodes/fi.html",
                                            hon="<a href='mailto: '>Head of node</a>",
                                            trc="<a href='mailto: '>Training co-ord</a>",
                                            tec="<a href='mailto: '>Tech co-ord</a>" %}

     {% snippet "nodes/snippets/flag.html", name="Portugal", 
                                            flag="/images/node_flags/PT.png",
                                            page="/nodes/pt.html",
                                            hon="<a href='mailto: '>Head of node</a>",
                                            trc="<a href='mailto: '>Training co-ord</a>",
                                            tec="<a href='mailto: '>Tech co-ord</a>" %}

  </div>
</div>
<br><br>    
<div class="row-fluid">
  <div class="span11 offset1">
     {% snippet "nodes/snippets/flag.html", name="Estonia", 
                                            flag="/images/node_flags/EE.png",
                                            page="/nodes/ee.html",
                                            hon="<a href='mailto: '>Head of node</a>",
                                            trc="<a href='mailto: '>Training co-ord</a>",
                                            tec="<a href='mailto: '>Tech co-ord</a>" %}
     {% snippet "nodes/snippets/flag.html", name="Israel", 
                                            flag="/images/node_flags/IL.png",
                                            page="/nodes/il.html",
                                            hon="<a href='mailto: '>Head of node</a>",
                                            trc="<a href='mailto: '>Training co-ord</a>",
                                            tec="<a href='mailto: '>Tech co-ord</a>" %}
     {% snippet "nodes/snippets/flag.html", name="Norway", 
                                            flag="/images/node_flags/NO.png",
                                            page="/nodes/no.html",
                                            hon="<a href='mailto: '>Head of node</a>",
                                            trc="<a href='mailto: '>Training co-ord</a>",
                                            tec="<a href='mailto: '>Tech co-ord</a>" %}
  </div>
</div>
<br><br>    

<div class="row-fluid">
  <div class="span11 offset1">
     {% snippet "nodes/snippets/flag.html", name="Denmark", 
                                            flag="/images/node_flags/DK.png",
                                            page="/nodes/dk.html",
                                            hon="<a href='mailto: '>Head of node</a>",
                                            trc="<a href='mailto: '>Training co-ord</a>",
                                            tec="<a href='mailto: '>Tech co-ord</a>" %}

     {% snippet "nodes/snippets/flag.html", name="EMBL-EBI", 
                                            flag="/images/nodes/ebi/logo.png",
                                            page="/nodes/embl.html",
                                            hon="<a href='mailto: '>Head of node</a>",
                                            trc="<a href='mailto: '>Training co-ord</a>",
                                            tec="<a href='mailto: '>Tech co-ord</a>" %}

  </div>
</div>

<br>
{% endblock %}

{% block secondary %}
{% endblock %}






