{% extends "page.html" %}

{% block subtitle %}{{ _('Sweden') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Sweden'), controller='group', action='index' %}</li>
{% endblock %}

{% block primary %}
{% snippet "nodes/snippets/helper.html" %}
<br>
<br>
<br>
<br>
<h1>Content for Swedish Node</h1>
<img src="http://upload.wikimedia.org/wikipedia/en/archive/4/4c/20140526092805!Flag_of_Sweden.svg" style="max-width:300px">
<br>
<br>
<br>
<br>
<br>
{% endblock %}
{% block secondary %}{% endblock %}


