{#
    workflow - A workflow description in JSON format
    action -   Either 'show', 'edit' or 'new'
#}

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/cytoscape.js"></script>
<script type="text/javascript" src="/cytoscape-toolbar.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link type="text/css" href="/workflows-cytoscape.css" rel="stylesheet"/>
<link type="text/css" href="/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!--                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>-->
{% resource 'tess/simplecolorpicker.js' %}<!--<script src="jquery.simplecolorpicker.js"></script>-->
{% resource 'tess/simplecolorpicker.css' %}<!--<link rel="stylesheet" href="jquery.simplecolorpicker.css">-->
{% resource 'tess/workflows-cytoscape-toolbar.js' %}

<div id="cy" style="float: left;" class="cy"></div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="zindex:15">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Training Materials for <em class="modal-workflow-title"></em></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-dismiss="modal" id="save-material" class="hidden">Save</button>
  </div>
</div>

<input type='text' id="node-info" class="hidden"/>


<script>
    $(document).ready(function(){
        wf= {{ workflow|safe }};
        drawGraph(wf,'{{action}}');
    });
</script>
