
{% import 'macros/form.html' as form %}
{% if action=='new' or action=='new-errors' %}
    {% set action_url = h.url_for('workflow_new') %}
{% elif action=='edit' %}
    {% set action_url = h.url_for('workflow_update', id=workflow.id) %}
{% endif %}

<div class="wf-meta-form">
<form class="form-horizontal" method="post" data-module="basic-form" enctype="multipart/form-data" action="{{action_url}}">

    <div class="form-actions" style="border-top: 0px; padding-top: 0px;">
          {% block basic_fields %}
            {% set desc_placeholder = 'The description of your training workflow. This should contain as much information as possible, for example:
        * Authors,
        * Contributors,
        * Any publications,
        * Link to the original source (if applicable)' %}
            {% if action == 'edit' or action=='new-errors' %}
                {{ form.input('title', label=_('Name'), id='field-name', value=workflow.name, is_required = true, classes=['control-full'], placeholder=_('Your training workflow\'s title')) }}
                {{ form.markdown('description', label=_('Description'), id='field-description', value=workflow.description, placeholder=desc_placeholder, error=None) }}
            {% else %}
                {{ form.input('title', label=_('Name'), id='field-name', classes=['control-full'], placeholder=_('Your training workflow\'s title')) }}
                {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=desc_placeholder) }}
            {% endif %}
            {{ form.input('dialog-div', classes=['hidden'], label=_('JSON Representation'), id='dialog-div') }}
        {% endblock %}

        <div style="padding-bottom: 30px;">&nbsp;
            {% if h.check_access('workflow_create')  %}
                <button class="btn btn-primary pull-right" id='save-workflow' name="save" type="submit" onclick="return isWorkflowEmptyConfirm();"><i class="icon-save"></i> Save workflow</button>
            {% endif %}
            {% if action == 'edit'%}
                {% if h.check_access('workflow_delete', {'id': workflow.id} )  %}
                    {% set locale = h.dump_json({'content': _('Are you sure you want to delete this workflow?')}) %}
                    <a href="{% url_for controller='ckanext.tess.workflow:WorkflowController',
                     action='delete', id=workflow.id %}" class="btn btn-danger" style="margin-right:10px" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Delete') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</form>
</div>