<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="icon-info-sign"></i>
        {{ _('What are workflows?') }}
    </h2>
    <div class="module-content" style="min-height: 600px;">
        <p>
            {% trans %}
            Training workflows are ordered collections of training materials -
            they represent a series of steps that need to be undertaken in order
            to perform a certain analysis, e.g. structure prediction, homology modelling,
            protein ligand docking, MS-based metabolomic analysis, etc.
            {% endtrans %}
        </p>
    </div>
</div>