<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="icon-info-sign"></i>
        {{ _('What are workflows?') }}
    </h2>
    <div class="module-content">
        <p>
            Training workflows are visual, step-by-step protocols that allow users to navigate materials in TeSS in topic- or task-related ways.
        </p>
        <p>
            For example, they may encapsulate typical stages of particular kinds of data analysis (protein sequence analysis, structure analysis, etc.), where each stage/node in the workflow
            represents a given analysis step and links to the corresponding training resources.
        </p>
    </div>
</div>