<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="icon-info-sign"></i>
        {{ _('What are workflows?') }}
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
            Training workflows are collections of training materials
            that people need to familiarise themselves with in order to
            learn about a certain analysis or process, e.g. structure prediction, homology modelling,
            protein ligand docking, MS-based metabolomic analysis, etc.
        </p>
        <p>
            Similar to steps in the actual analysis, these collections of materials
            are organized in a particular order, so people can follow this predefined order
            or can skip steps they are already familiar with and dive into steps they want to learn more about.
            {% endtrans %}
        </p>
    </div>
</div>