
{% import 'macros/form.html' as form %}

    {% set colour_list = [
    {'value':'#ac725e'},{'value':'#d06b64'},
    {'value':'#f83a22'},{'value':'#fa573c'},
    {'value':'#ff7537'},{'value':'#ffad46'},
    {'value':'#42d692'},{'value':'#16a765'},
    {'value':'#7bd148'},{'value':'#b3dc6c'},
    {'value':'#fbe983'},{'value':'#fad165'},
    {'value':'#92e1c0'},{'value':'#9fe1e7'},
    {'value':'#9fc6e7'},{'value':'#4986e7'},
    {'value':'#9a9cff'},{'value':'#b99aff'},
    {'value':'#c2c2c2'},{'value':'#cabdbf'},
    {'value':'#cca6ac'},{'value':'#f691b2'},
    {'value':'#cd74e6'},{'value':'#a47ae2'},
    {'value':'#FFFFFF'}
    ] %}

<div class="module property-editor" id="workflow_element_info" >
    <h3 class="heading">
        {{ _('Workflow property editor') }}
        <button class="icon-remove" id="hide-property-editor"></button>
    </h3>

    <div style="padding: 0 5px;" class="module-content">
        <p id="no_workflow_element_selected" class="empty" style="padding: 10px;">No workflow element selected</p>
        <div style="position: initial;">
            <div class="control-group control-full" style="margin-bottom: 0px;">
                <label class="control-label" for="element-type">Type</label>
                <div id="element-type" class="controls" style="background-color: #8CA0A6; color: white; font-weight: bold;"></div>
            </div>
            <div>
            {{ form.input('title', label=_('Name'), id='element-name', placeholder=_('Element name'), classes=['control-full margin-bottom-0']) }}
            {{ form.textarea('description', label=_('Description'), id='element-description', placeholder=_('Short description (max 5 sentences)'), classes=['control-full margin-bottom-0']) }}
            {{ form.select('colorpicker-longlist', label=_('Colour'), id='colorpicker-longlist', options=colour_list, classes=['control-full', 'colour-picker']) }}
            {#{ form.select('topic', label=_('Topic'), id='element-topic', options=[{'value':'Topic 1'},{'value':'Topic 2'},{'value':'Topic 3'}], selected='Topic 1', classes=['control-full']) }#}
            <button class="btn btn-default" id="associate-training-materials"><i class="icon-book"></i> Associate materials</button>
        </div>
            <button class="btn btn-primary pull-right" id="save_workflow_element_properties" type="submit" style="margin-top: 10px;">Apply</button>
        </div>
    </div>
</div>