<div id="instructions" style="padding: 0 5px;" class="module-content col-md-4">
    <table class="table condensed">
        <head>
            <th style="width:30px">Icon</th>
            <th style="width:120px">Action</th>
            <th>Description</th>
        </head>
        <tr>
            <td><i class="fa fa-location-arrow"/></td>
            <td>Select</td>
            <td>Use to select a node or drag around the canvas.</td>
        </tr>
        <tr>
            <td><i class="fa fa-search-plus"/></td>
            <td>Magnify</td>
            <td>Click on the canvas to zoom in or out. You can also scroll to zoom on desktops</td>
        </tr>
        <tr>
            <td><i class="fa fa-arrow-right"/></td>
            <td>Pan</td>
            <td>Click on the workspace whilst a pan direction is selected to move in that direction</td>
        </tr>
        <tr>
            <td><i class="fa fa-plus"/></td>
            <td>Create Node</td>
            <td>This will add a new node to the workflow</td>
        </tr>
        <tr>
            <td><i class="fa fa-plus-square"/></td>
            <td>Create Child Node</td>
            <td>This will create a child node inside a selected node</td>
        </tr>
        <tr>
            <td><i class="fa fa-link"/></td>
            <td>Link</td>
            <td>Selecting two nodes will create an link pointing from the first to the second</td>
        </tr>
        <tr>
            <td><i class="fa fa-trash-o"/></td>
            <td>Delete</td>
            <td>Removes a node or an edge from the workflow. Clicking a parent node will remove its children too</td>
        </tr>
    </table>
</div>