{% set carousel_images = h.carousel_images_of_node(node) %}
{% if carousel_images %}
    {% set count = carousel_images.get('length') %}
    {% set carousel = carousel_images.get('carousel') %}
    {% if count > 1 %}
        <div class="row-fluid">
            <div class="span12">
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        {% for i in range(1, count) %}
                            <li data-target="#myCarousel" data-slide-to="{{i+1}}" class="active"></li>
                        {% endfor %}
                    </ol>
                    <!-- Carousel items -->

                    <div class="carousel-inner node-banner">
                        <div class="active item node-banner"><img src="{{carousel[0]}}"/></div>
                        {% for image in carousel %}
                            {% if image != carousel[0] %} {# ignore first #}
                                <div class="item node-banner"><img src="{{image}}"/></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        </div>
    {% elif count == 1 %}
        <div class="row-fluid">
            <div class="span12">
                <div class="item node-banner"><img src="{{ carousel[0] }}"/></div>
            </div>
        </div>
    {% endif %}
{% endif %}

{% if node.get('description'): %}
<div class="row-fluid" style="padding:20px 20px 0px 20px;">
    {{ node.get('description') }}
</div>
{% endif %}