<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are ELIXIR nodes?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>
          ELIXIR is a pan-European research infrastructure for biological information.
          It consists of the Hub and a number of ELIXIR nodes. Each participating country have their own node. The only exception is the UK,
          which has two - with EMBL-EBI being a node on its own. You can add a new node here if your country has signed
          the declaration to join ELIXIR. Please be very thorough with the information you provide.
      </p>
    {% endtrans %}
  </div>
</div>
