<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Elixr Nodes?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>
        Elixir is a pan-european initiative comprised of Elixir Nodes. Each participating country, as well as the EBI, have their own node. You can add
        a new node here if you're country has signed the declaration to join ELIXIR. Please be very thorough with the information you provide.
     </p>
    {% endtrans %}
  </div>
</div>
