{# parameters:
node - the name of the node like 'United Kingdom' or 'Switzerland'
hub - True if we're on the hub page and we need to have the header for each section display the country name
- No need to set for other pages
#}
<h2>Training materials</h2>
<hr/>
{% set training_materials = h.get_node_materials(node) %}
{% if training_materials|length > 0 %}
    <ul style="list-style: outside none none; margin-left: 5px;" >
    {% for training_material in training_materials %}
        {% snippet 'snippets/package_item.html', package=training_material %}
    {% endfor %}
    </ul>
{% else %}
    <p class="module-content empty" style="padding: 0px; margin: 0px;">No training materials found for this node</p>
{% endif %}
