{# parameters:
node - the name of the node like 'United Kingdom' or 'Switzerland'
hub - True if we're on the hub page and we need to have the header for each section display the country name
- No need to set for other pages
#}
<h2>Training materials</h2>
<hr/>
{% set datasets = h.get_node_materials(node) %}
{% if datasets != None: %}
    <ul style="list-style: outside none none; margin-left: 5px;" >
    {% for dataset in datasets %}
        {% snippet 'snippets/package_item.html', package=dataset %}
    {% endfor %}
    </ul>
{% else %}
    <p class="module-content empty">No training materials found for this node</p>
{% endif %}
