{#
Renders a media item for a node. This should be used in a list.

node - A node dict.

Example:

    <ul class="media-grid">
      {% for node in nodes %}
        {% snippet "node/snippets/node_item.html", node=node %}
      {% endfor %}
    </ul>
#}

{% set url = h.url_for(node.type ~ '_read', action='read', id=node.name) %}
<li class="media-item">
  {% block image %}
    <img src="{{ node.image_display_url or h.url_for_static('/images/empty.gif') }}" alt="{{ node.name }}" class="media-image">
  {% endblock %}
  {% block title %}
    <h3 class="media-heading">{{ node.display_name }}</h3>
  {% endblock %}
  {% block node_info %}

    {% if node.has_key('extras') %}
        {% for extra in node['extras'] %}
            {% set key = h.key_to_title(extra['key']) %}
            {% set val = extra['value'] %}
            <p><b> {{key}} </b>: {{val}} </p>
        {% endfor %}
    {% endif %}

    <b>Head of Node:</b> <i>{{node.hon}}</i><br>
    <b>Technical Co-Ordinator</b>: <i>{{node.tec}}</i><br>
    <b>Training Co-Ordinator</b>:<i>{{node.trc}}</i><br>
  {% endblock %}
  {% block description %}
    {% if node.description %}
      <p>{{ h.markdown_extract(node.description, extract_length=80) }}</p>
    {% endif %}
  {% endblock %}
  {% block datasets %}
    {% if node.packages %}
      <strong class="count">{{ ungettext('{num} Dataset', '{num} training materials', node.packages).format(num=node.packages) }}</strong>
    {% else %}
      <span class="count">{{ _('0 training materials') }}</span>
    {% endif %}
  {% endblock %}
  <a href="{{ url }}" title="{{ _('View {node_name}').format(node_name=node.display_name) }}" class="media-view">
    <span>{{ _('View {node_name}').format(node_name=node.display_name) }}</span>
  </a>
</li>
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
