{#
Renders a media item for a node. This should be used in a list.

node - A node dict.

Example:

    <ul class="media-grid">
      {% for node in nodes %}
        {% snippet "node/snippets/node_item.html", node=node %}
      {% endfor %}
    </ul>
#}

{% resource 'tess/load_country_info.js' %}
{% set node = h.get_extras(node) %}

{% set url = h.url_for(node.type ~ '_read', action='read', id=node.name) %}
<li class="media-item" data-module="load_country_info"
            data-module-title="{{ node.display_name }}"
            data-module-country_code="{{node.cc}}" >
  {% block image %}
    {% if node.cc: %}
        <img src="/images/node_flags/{{node.cc}}.png">
    {% else %}
        <img src="{{ node.image_display_url or h.url_for_static('/images/empty.gif') }}" alt="{{ node.name }}" class="media-image">
    {% endif %}
  {% endblock %}
  {% block title %}
    <h3 class="media-heading">{{ node.display_name }}</h3>

  {% endblock %}
  {% block node_info %}
    <b>Head of node:</b> {{node.hon}} <br>
    <b>Training coordinator</b>: {{node.trc}}<i></i><br>
    <b>Technical coordinator</b>: {{node.tec}} <i></i><br>
  {% endblock %}
  {% block description %}
    {% if node.description %}
      <p>{{ h.markdown_extract(node.description, extract_length=80) }}</p>
    {% endif %}
  {% endblock %}
  {% block datasets %}
    {% if node.packages %}
      <strong class="count">{{ ungettext('{num} training material', '{num} training materials', node.packages).format(num=node.packages) }}</strong>
    {% else %}
      <span class="count">{{ _('0 training materials') }}</span>
    {% endif %}
  {% endblock %}
  <a href="{{ url }}" title="{{ _('View {node_name}').format(node_name=node.display_name) }}" class="media-view">
    <span>{{ _('View {node_name}').format(node_name=node.display_name) }}</span>
  </a>
</li>

{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
