<!--div class="content"-->
{% block about %}
{% block header_site_navigation %}
    <nav class="section navigation">
    <div class="dropdown">
     <a href="#" class="button image dropdown-toggle" data-toggle="dropdown">
         Nodes
         <i class="icon-chevron-down"></i>
      </a>
      <ul class="user-dropdown-menu dropdown-menu pull-left" role="menu">
        <li><a href="/node/custom/hub.html">The Hub</a></li>
          {% for node in h.all_node_name_and_ids(): %}
            {% set url = h.url_for('node' ~ '_read', action='read', id=node[1]) %}
            <li><a href="{{url}}">{{node[0] }}</a></li>
          {% endfor %}
      </ul>
   </div>
   </nav>
{% endblock %}
{% endblock %}


