{# node_name and country_code must be set from the page that extends this template.
If you do not set node_name to be a valid Elixir Node name like 'United Kingdom' or 'Switzerland'
you risk reversing the Entropy of the Universe and destroying us all. You've been warned!
#}

{% extends "page.html" %}

{% block subtitle %}
    {{ node.get('display_name') }}
{% endblock %}

{% block breadcrumb_content %}
<li><a href="{% url_for 'node' %}">{{ _('Nodes') }}</a></li>
<li class="active"><a href="">{{ node.get('display_name') }}</a></li>
{% endblock %}

{% block primary %}

<header class="module-content page-header">
        {% snippet "node/snippets/node_list_dropdown.html" %}
        <div class="content_action" style="float: right; padding-bottom: 10px;">
            {% link_for _('Manage'), controller='ckanext.tess.controller:NodeController', action='edit', id=c.group_dict.name, class_='btn right', icon='wrench' %}
        </div>
</header>

{% block node_heading %}
{% set country_code = node.get('country_code') %}
<div class="row-fluid">
        {% if country_code : %}
            <div>
                <img src="/images/node_flags/{{ country_code }}.png" class="img-circle" style="max-height: 60px; max-width: 200px; float: left; padding-left: 10px;"/>
            </div>
        {% endif %}
        <h1 class="page-heading" style="text-align:center">{{ node.get('display_name') }}</h1>
        <h3 style="text-align:center">{{ node.get('description') }}</h3>
</div>
{% endblock %}

<div style="clear:both;"></div>

<div class="module-content">
    <ul class="media-grid masonry" data-module="media-grid">

        {% block news %}
        <li class="media-item masonry-brick node-brick">
            {% snippet "node/snippets/news_for_node.html", node=node %}
        </li>
        {% endblock %}

        {% block organizations %}
        <li class="media-item masonry-brick node-brick">
            {% snippet "node/snippets/members_for_node.html", node=node %}
        </li>
        {% endblock %}

        {% block materials %}
        <li class="media-item masonry-brick node-brick">
            {% snippet "node/snippets/materials_for_node.html", node=node %}
        </li>
        {% endblock %}

        {% block events %}
        <li class="media-item masonry-brick node-brick">
            {% snippet "node/snippets/events_for_node.html", node=node %}
        </li>
        {% endblock %}

        {% block staff %}
        <li class="media-item masonry-brick node-brick">
            {% snippet "node/snippets/staff_for_node.html", node=node %}
        </li>
        {% endblock %}

    </ul>
</div>

{% endblock %}

{% block secondary %}
{% endblock %}