body {
  background-color: #F8761F;
}


.masthead a {
  color: #A24200;
}
.masthead .navigation .nav-pills a:hover {
	color: #FFAC74;
	background-color: #A24200;
}

.masthead .navigtaion .nav-pills li.active a {
	background-color: #A24200;
}

.container {
  width: 1000px;
}

.nav-pills {

}
/* 
Dark Orange #F8761F
Light Orange #FFAC74
Text Color #FFAC74

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background-color: #F8761F;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #FFAC74;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: #A24200;
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: #F8761F;
  background-color: #FFAC74;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color:#F3CDB4;
}
.masthead .content {
  top: 35px;
  right: -30px;
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: #F8761F;
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: #F8761F;
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}

/* Butttoooooons 
.btn-primary {
  background-color: #F8761F;
}
*/

/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: #F8761F;
}
.homepage .module-button .module-content {
  border-radius: 4px;
  background-color: #EFCAB2;
  color: rgb(68, 68, 68);
}
.homepage .module-button {
    background-color: #EFCAB2;
}

/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: #F8761F;
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 1px solid rgb(204, 204, 204);
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: #D8D8D8;
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: #A24200;
/*rgba(255, 255, 255, 0.6);*/
}
/* The link texts in the footer. */
.site-footer a {
  color: #A24200
}
.package_list_organization_logo{
  height: 24px; 
  position: relative; 
  float: right;
}
.dataset-item {
  border-bottom: 1px dotted #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.dataset-heading {
  font-size: 14px;
}
.search-form .search-input.search-giant input {
  font-size: 14px;
  padding: 10px;
}
.nav-pills > li {
  font-weight: bold;
}
.toolbar .breadcrumb {
  font-size: 16px;
}
.news_item_date{
    height: 24px;
    position: relative;
    float: right;
    font-weight: normal;
}
.group-list .activity-item-content {
    min-height: 24px;
}
/* From http://css-tricks.com/examples/hrs/     */
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.span2-homepage {
    width: 188px;
}
[class*="span"] {
    margin-left: 10px;
}
.module:last-child {
    margin-bottom: 0px;
}
.homepage .module-nodes {
    padding: 5px;
    margin: 0;
    background: #F8761F;
}
.homepage .module-nodes .module-content .heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 40px;
}
.homepage .row {
    margin-right: 10px;
    margin-left: 0px;
}
.span6-homepage {
    width: 480px;
}
.events-source{
    margin: 20px;
}
.events-source-title{
    margin: 10px;
}
.faq-answer{
    margin-bottom: 10px;
}
.faq-item {
    border-bottom: 1px dotted #DDD;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.faq-item {
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.faq-item:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.faq-heading {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.3;
}
.faq-heading a {
    color: #333333;
}
.faq-heading .label {
    position: relative;
    top: -1px;
}
.faq-resources {
    margin-top: 8px;
}
.faq-resources li {
    display: inline;
}
.faq-resources li a {
    background-color: #aaaaaa;
}
.faq-heading .popular {
    top: 0;
}
.module-shallow .homepage-button-content {
    padding: 10px 15px;
    margin: 0;
    border-radius: 4px;
}
.module-shallow .homepage-button-content:first-child {
    padding-top: 5px;
}
.module-shallow .homepage-button-content:last-child {
    padding-bottom: 5px;
}
.homepage-button-div{
    position:relative;
    border-radius: 4px;
}
.homepage-button-div:hover {
    background-color: #FC934E;
}
/* Solution for making a div a clickable button from http://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.homepage-button {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;

/* edit: added z-index */
    z-index: 1;

/* edit: fixes overlap error in IE7/8,
   make sure you have an empty gif */
    background-image: url('/images/empty.gif');
}

/*
.homepage-button a:hover {
    background: #f8f8f8;
    background-color: #FFFFFF;
}
*/
.homepage-button-content .heading{
    margin-top: 0px;
}
.flash-messages{
    text-align:center;
}

.materials {
    margin: 20px;
    border: solid;
    padding: 20px;
}

.icon-elixir {
    width:16px;
    height:16px;
    background-image: url('/images/icon-elixir.png');
    margin:0;
    padding:0;
    float:left;
}
