{% extends "page.html" %}

{% block subtitle %}{{ _('Content providers') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Nodes'), controller='ckanext.tess.controller:NodeController', action='index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {#% if h.check_access('node_create') %#}
    {% link_for _('Add node'), controller='ckanext.tess.controller:NodeController', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {#% endif %#}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Nodes') }}{% endblock %}</h1>
  {#% block nodes_search_form %}
    {% snippet 'snippets/search_form.html', type='node', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search content providers...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
  {% endblock %#}
  {% block nodes_list %}
    {{results}}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "node/snippets/node_list.html", nodes=c.page.items %}
     {% endif %}
      {{ c.page.collection }}
    {% else %}
      <p class="empty">
        {{ _('There are currently no ELIXIR nodes for this site') }}.
        {#% if h.check_access('node_create') %#}
          {% link_for _('How about creating one?'), controller='ckanext.tess.controller:NodeController', action='new' %}</a>
        {#% endif %#}
      </p>
    {% endif %}
  {% endblock %}
  {#% block page_pagination %}
    {{ c.page.pager() }}
  {% endblock %#}
{% endblock %}

{% block secondary_content %}
  {% snippet "node/snippets/helper.html" %}
{% endblock %}

