{% extends "user/read_base.html" %}

{% block primary_content_inner %}
  <h2 class="hide-heading">
    {% block page_heading %}{{ _('Training materials') }}{% endblock %}
  </h2>
  {% block package_list %}
  {% if user.datasets %}
    {% snippet 'snippets/package_list.html', packages=user.datasets %}
  {% else %}

    {% if c.is_myself %}
      <p class="empty">
        {{ _('You have not created any training materials.') }}
        {% if h.check_access('package_create') %}
          {% link_for _('Create one now?'), controller='package', action='new' %}
        {% endif %}
      </p>
    {% else %}
      <p class="empty">
        {{ _('User has not created any training materials.') }}
      </p>
    {% endif %}
  {% endif %}
  {% endblock %}
{% endblock %}
