{% set node_name = 'Czech Republic' %}
{% set country_code = 'CZ' %}
{% set trc = None %}
{% set tec = None %}
{% set hon = None %}
{% extends "node_old/snippets/node_template.html", node_name=node_name, country_code=country_code, hon=hon, trc=trc, tec=tec %}

{#
Override blocks from the nodes_template.html here to add your own custom configuration.
The blocks are listed below. Move them out of this comment bracket to override.

{% block materials %}
{% endblock %}

{% block events %}
{% endblock %}

{% block organizations %}
{% endblock %}

{% block staff %}
{% endblock %}

{% block news %}
{% endblock %}

#}