<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-large icon-info-sign"></i>
    {{ _('What are content providers?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>
	Content providers are organizations (real or virtual) that provide
      	or link to training material. TeSS is fed by content from training
	portals, such as GOBLET, ELIXIR nodes' own training material, 
	foundation organisations, such as Software and Data Carpentry, etc. 
     </p>
    {% endtrans %}
  </div>
</div>
