<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-large icon-info-sign"></i>
    {{ _('What are content providers?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>
        Content providers are entities – e.g. institutions members of ELIXIR nodes, independent institutions or related portals, like GOBLET, the Software and Data Carpentry Foundations, etc.
        – that provide training materials of relevance to ELIXIR.
     </p>
    {% endtrans %}
  </div>
</div>
