
{# node_name must be set from the page that extends this template.
 If you do not set node_name to be a valid Elixir Node name like 'United Kingdom' or 'Switzerland'
 you risk reversing the Entropy of the Universe and destroying us all. You've been warned!
#}

{% extends "page.html" %}

{% set hub = True %}
{% block subtitle %}{{ _('Nodes') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active"><a href="/node_old">Nodes</a></li>
{% endblock %}

{% block primary %}
  {% snippet "node_old/snippets/helper.html" %}
<div class="row-fluid">
    <div class="offset1 span10 module-content box" style="border: 1px solid #DDD; padding-bottom: 20px;">
        <div class="span6 col1">
            <h3 style="margin-top: 0px;">ELIXIR Hub</h3>
            <p>
                <a href="http://www.elixir-europe.org/about/elixir-hub">The Hub</a> accommodates the ELIXIR executive management and secretariat and
                coordinates integration of services run from the ELIXIR nodes.
                It has overall responsibility for developing and delivering the ELIXIR programme,
                coordinates ELIXIR's governance bodies and technical committees, and
                provides oversight of biological data throughout Europe by creating data registries
                and coordinating development of data standards.
            </p>
        </div>
        <div class="span6 col2"><img src="/images/elixir-hub.jpg"></div>
    </div>
</div>
<br>
{% endblock %}

{% block secondary %}
{% endblock %}






