{% extends "page.html" %}

{% block subtitle %}{{ _('Events') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Events'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
<div class="primary" style="width: 74%; padding-right: 10px;">
    <section class="module">
        {% block about %}
        <h1 >{{ _('Events') }}</h1>
        {% endblock %}
        <div id="iAnnList" class="events-source">
            <p class="events-source-title"><strong>Source:</strong>
                <a target="_blank" href="http://iann.pro"><img alt="iAnn" src="/images/iann_logo-32x30.png"/></a>
            </p>
            <p>
                {% snippet "snippets/events.html", events=h.events() %}
            </p>
            <!--p class="more-link"><a target="_blank" href="http://mygoblet.org/iannviewer">More events from iAnn</a></p-->
            <hr/>
        </div>
    </section>
</div>
{% endblock %}

{% block secondary %}
<aside class="secondary span3" style="position: fixed;">
    <div class="filters">
        <div>
            <section class="module module-narrow module-shallow">
                <h2 class="module-heading">
                    <i class="icon-medium icon-filter"></i>
                    Source
                </h2>
                <nav>
                    <ul class="unstyled nav nav-simple nav-facet">
                        <li class="nav-item">
                            <a href="##iAnnList" title="">
                                <span>iAnn</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="module-footer">
                </p>
            </section>
        </div>
    </div>
</aside>
{% endblock %}