{% extends "page.html" %}

{% block subtitle %}{{ _('Events') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Events'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
          <h1 class="page-heading">{{ _('Events') }}</h1>
      {% endblock %}
    </div>
  </article>
  <div id="iAnnList" class="events-source">
  <p class="events-source-title"><strong>Source: </strong><a target="_blank" href="http://iann.pro">
  <img alt="iAnn" src="/images/iann_logo-32x30.png"/></a></p><hr/>
  {{ h.read_news_iann() }}
  <div class="more-link"><a target="_blank" href="http://mygoblet.org/iannviewer">More events from iAnn</a></div>
  </div>
{% endblock %}

{% block secondary %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <div class="icon-filter"></div>{{ _('Source') }}
        </h2>
        <nav>
            <ul class="unstyled nav nav-simple nav-facet">
                <li class="nav-item">
                    <a href="#iAnnList" title="">iAnn</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
