<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="footer-links attribution">
                <div style="float: left;">
                    <p style="padding-top: 10px;">
                        <strong>Version:</strong> 1.0 alpha<br>
                        <strong>Contact us:</strong> <a href="mailto:tess@elixir-uk.info">tess@elixir-uk.info</a><br>
                    </p>
                </div>
                <div class="" style="float: right; vertical-align: middle;">
                    <a target="_blank" href="http://elixir-uk.org/" style="float: right;">
                    <img src="/images/elixir-uk-logo-small.png"></a>
                </div>
                <div class="span5"  style="float: right; padding: 10px;">
                    <p><strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a></p>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</footer>
