{% ckan_extends %}

{% block header_wrapper %}
<header class="masthead">
  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
  <div class="container">
    {# The .header-image class hides the main text and uses image replacement for the title #}
    <hgroup class="{{ g.header_class }}">

      {% block header_logo %}
        {% if g.site_logo %}
          <a class="logo" href="{{ h.url('home') }}"><img src="{{ h.url_for_static(g.site_logo) }}" alt="{{ g.site_title }} Logo" title="{{ g.site_title }} Logo" /></a>
        {% else %}
          <h1>
            <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
          </h1>
          {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
        {% endif %}
      {% endblock %}

    </hgroup>

    <div class="content">

      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            <li class="nav-node-tab">
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('nodes', _('Nodes')),
                ('search', _('Training materials')),
                ('workflows', _('Workflows')),
                ('group_index', _('Packages')),
                ('events', _('Events')),
                ('organizations_index', _('Content Providers')),
                ('about', _('About'))
              ) }}
          {% endblock %}
          </ul>
        </nav>
     {% endblock %}

      {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search">{{ _('Search training materials') }}</label>
            <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search training materials...') }}" />
            <button class="btn-search" type="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      {% endblock %}

    </div>
  </div>
</header>
{% endblock %}
