{# node_name must be set from the page that extends this template. 
 If you do not set node_name to be a valid Elixir Node name like 'United Kingdom' or 'Switzerland'
 you risk reversing the Entropy of the Universe and destroying us all. You've been warned!
#}

{% extends "page.html" %}

{% block subtitle %}{{ node_name }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Node'), controller='ckanext.tess.controller:SpecialRouteController', action='nodes' %}</li>
/
<li class="active">{% link_for _(node_name), controller='ckanext.tess.controller:SpecialRouteController', action='nodes'  %}</li>
{% endblock %}


{% block primary %}
  {% snippet "nodes/snippets/helper.html" %}
  <div class="row-fluid">
     <div class="span12">
         {% block node_heading %}
             <h1 class="page-heading" style="text-align:center">{{ node_name }}</h1>
         {% endblock %}
     </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
       {% block materials %}
            {% snippet "nodes/snippets/materials_for_node.html", node=node_name %}    
       {% endblock %}
       {% block organizations %}
            {% snippet "nodes/snippets/organizations_for_node.html", node=node_name %}
       {% endblock %}
     </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
       {% block news %}
            {% snippet "nodes/snippets/news_for_node.html", node=node_name %}
       {% endblock %}
       {% block services %}
            {% snippet "nodes/snippets/events_for_node.html", node=node_name %}
       {% endblock %}
     <!--/div>
  </div>
  <div class="row-fluid">
    <div class="span10"-->
       {% block staff %}
            {% snippet "nodes/snippets/staff_for_node.html", node=node_name %}
       {% endblock %}
    </div>
  </div>
<br>
{% endblock %}
 
{% block secondary %}
{% endblock %}

