{# use h.training_coordinators() to find the list.
The result contains an array of hashes that look like:
{trc: name of coordinator
trc_image: image
trc_email: email
node: node-name}
#}

{% for trc in training_coordinators %}
<div class="trc-info">

    {% if trc.get('trc', None) %}
    <div class="item">
        Name: {{trc.get('trc')}}
    </div>

    {% endif %}
    {% if trc.get('trc_email', None) %}
    <div class="item">
        E-mail: <a href="mailto:{{ trc.get('trc_email') }}">{{ trc.get('trc_email') }}</a>
    </div>
    {% endif %}
    {% if false and trc.get('trc_image', None) %}
    <div class="item">
        <img src="{{ trc.get('trc_image') }}" class="img-circle-small" style="max-height:100px; float:right;"/>
    </div>
    {% endif %}
    {% if trc.get('node', None) %}
    <div class="item">
        Node: {{trc.get('node', None)}}
    </div>
    {% endif %}
</div>
{% endfor %}

