{% set intro = g.site_intro_text %}

<div class="module-content box" style="border: 1px solid #DDD;">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h2 class="page-heading">{{ _("Welcome to TeSS: ELIXIR's Training Portal") }}</h2>
      <p>
        {% trans %}
          <a href="http://elixir-europe.org">ELIXIR's</a> TeSS (Training eSupport System) is a portal for disseminating, discovering
          and packaging training resources, aggregating information from <a href="/node">ELIXIR nodes</a> and 3rd-party providers.
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          The platform also acts as a ‘department store’, where its ‘departments’ (<a href="/node">ELIXIR nodes</a>)
          promote their latest training news and events, and contribute to its catalogue of training materials.
          The catalogue may be navigated via training ‘workflows’ or relevant materials collected into bespoke training ‘packages’.
          {% endtrans %}
      </p>
      <br/>
    {% endif %}
  </header>
</div>
