
<li class="resource-item" data-id="{{ res.id }}">
  {% block event_title %}
  <a class="heading" href="{{ res.link }}" title="{{ res.title or res.subtitle}}">
    {{ res.title | truncate(50) }}
  </a>
    <div style="position: absolute; top: 20px; left: 10px; padding; 2px;">
        <img src="/images/placeholder-event.png" style="max-width: 38px;">
    </div>
  {% endblock %}
  {% block event_description %}
    <p class="description">
            {% if res.subtitle%}
                {{ h.markdown_extract(res.subtitle, extract_length=80) }}
            {% endif %}
        <!--<p class="event-duration"><b>Duration:</b> {{res.duration}}</p>-->
        {{res.starts}} - {{res.ends}}<br>
        {{ res.city }}, {{ res.country }}
        {% if res.expired %}
            <p class='empty'>Note: This event has finished</p>
        {% endif %}
    </p>
  {% endblock %}

  {% block event_explore %}
    {% if res.link and h.is_url(res.link) %}
      <div class="dropdown btn-group">
        <a href="{{ res.link }}" class="btn btn-success" target="_blank">
            <i class="icon-share-alt"></i>Open
        </a>
      </div>
    {% endif %}
  {% endblock %}
</li>
