{#
Renders a list of resources with icons and view links.

events - A list of resources to render
pkg - A package object that the events belong to.

Example:

{% snippet "package/snippets/events_list.html", pkg=pkg, events=h.get_associated_events(pkg.id) %}
#}
<section id="dataset-events" class="events">
  <h3>{{ _('Related events') }}</h3>

  {% block event_list %}
    {% if events %}
      <ul class="{% block event_list_class %}event-list{% endblock %}">
        {% block event_list_inner %}
          {% for event in events %}
            {% snippet 'package/snippets/event_item.html', pkg=pkg, res=event %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
        {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
          {% trans %}
            <p class="empty">
                This training material has no associated events.
            </p>
            <p class="empty">
                A Related event in TeSS can be any face-to-face training event, course, or
                conference that is related to this specific training material.
            </p>
          {% endtrans %}
        {% set url=h.url_for(controller='ckanext.tess.event:EventController', action='add_events', id=pkg['name']) %}
        <a class="btn btn-primary" href="{{url}}"><i class="icon-plus"></i>Associate an event</a>
      {% else %}
          <p class="empty">{{ _('This training material has no additional events') }}</p>
      {% endif %}
    {% endif %}

    {% endblock %}
</section>
