{% extends "page.html" %}

{% block subtitle %}{{ c.workflow_dict.name }} - {{ _('Workflows') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Workflows'), controller='ckanext.tess.workflow:WorkflowController', action='index' %}</li>
  <li>{% link_for c.workflow_dict.name|truncate(35), controller='ckanext.tess.workflow:WorkflowController', action='read', id=c.workflow_dict.id %}</li>
  <li class="active">{% link_for _('Manage'), controller='ckanext.tess.workflow:WorkflowController', action='update', id=c.workflow_dict.id %}</li>
{% endblock %}


{% block primary %}
 <header class="module-content page-header">

    <button id="show-help" class="btn btn-default"><i class="icon-info-sign"></i>Help</button>

    <div id="help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="zindex:15">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 class="heading">{{ _('Workflow creation guide') }}</h2>
        </div>
        <div class="modal-body">{% snippet "workflow/snippets/workflow-creation-guide.html" %}</div>
        <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></div>
    </div>

    <div class="content_action">
        <div style="margin-bottom: 13px;">
                {% link_for _('View'), controller='ckanext.tess.workflow:WorkflowController', action='read', id=c.workflow_dict.id, class_='btn', icon='eye-open' %}
        </div>
    </div>
 </header>

    {% snippet "workflow/snippets/workflow-property-editor.html" %}

    {% if c.workflow_dict.definition %}
        {% snippet "workflow/snippets/display_workflow_info.html", workflow=c.workflow_dict, action='edit' %}
        {% snippet "workflow/snippets/display_workflow.html", workflow=c.workflow_dict.definition, action='edit' %}
    {% else %}
        {% snippet "workflow/snippets/display_workflow_info.html", workflow=c.workflow_dict, action='edit' %}
        {% snippet "workflow/snippets/display_workflow.html", workflow={}, action='new' %}
    {% endif %}
{% endblock %}

{% block secondary %}
{% endblock %}

