{% extends "page.html" %}

{% block subtitle %}{{ _("Training workflows") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Workflows'), controller='ckanext.tess.workflow:WorkflowController', action='index') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {# if h.check_access('workflow_create') #}
          <div class="page_primary_action">
                {% link_for _('Create workflow'), controller='ckanext.tess.workflow:WorkflowController', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
          </div>
        {# endif #}
      {% endblock %}
        <div>
            Have a look at some training workflow examples:
            {% snippet "workflow/snippets/workflow_list.html", workflows=c.workflows %}
        </div>
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
{% snippet "workflow/snippets/helper.html" %}
{% endblock %}