{% extends "page.html" %}
{% block subtitle %}{{ _('Workflows') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Workflows'), controller='group', action='index' %}</li>
{% endblock %}


{% block primary_content_inner %}

{% resource 'tess/workflows.js' %}

<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.js"></script>
<link href="/style.css" rel="stylesheet" type="text/css" />
<div id="cy"></div>
{% endblock %}

{% block secondary_content %}
{% snippet "workflow/snippets/helper.html" %}
{% endblock %}