{% resource 'tess/workflows.js' %}
{% extends "page.html" %}

{% block subtitle %}{{ _('Workflows') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Workflows'), controller='ckanext.tess.workflow:WorkflowController', action='workflows' %}</li>
/ <li>{% link_for _('New'), controller='ckanext.tess.workflow:WorkflowController', action='new' %}</li>
{% endblock %}

{% block primary_content %}
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
<script src='http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js'></script>
<br><br><br><br><br><br><br><br>
<span style="text-align: center"><i>Workspace Here</i></span>
<div id="cy"></div>

<br>
{% endblock %}


{% block secondary_content %}<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="icon-cog"></i>
        {{ _('Workflows') }}
    </h2>
    <div class="module-content">
        <I>Workflow Components Here</I>
    </div>
</div>
{% endblock %}
