{% extends "page.html" %}


{% block subtitle %}{{ _('Workflows') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Workflows'), controller='ckanext.tess.workflow:WorkflowController', action='workflows' %}</li>
/ <li>{% link_for _('New'), controller='ckanext.tess.workflow:WorkflowController', action='new' %}</li>
{% endblock %}


{% block primary_content %}
    {% snippet 'workflow/snippets/workspace.html' %}
{% endblock %}


{% block secondary_content %}
    {% snippet 'workflow/snippets/workspace_components.html' %}
{% endblock %}
