
{% extends "page.html" %}

{% block subtitle %}{{ _('Workflows') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('Workflows'), controller='ckanext.tess.workflow:WorkflowController', action='index' %}</li>
<li class="active">{% link_for 'Create workflow', controller='ckanext.tess.workflow:WorkflowController', action='new' %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_primary_action %}
{% endblock %}


{% block primary %}
    <header class="module-content page-header">
        <div class="content_action">
            <div style="margin-bottom: 13px;">
                {% link_for _('View'), controller='ckanext.tess.workflow:WorkflowController', action='read', id=c.workflow_dict.id, class_='btn', icon='eye-open' %}
            </div>
        </div>
    </header>

    {% snippet "workflow/snippets/workflow-property-editor.html" %}

    {% if c.workflow_dict %}
        {% snippet "workflow/snippets/display_workflow_info.html", workflow=c.workflow_dict, action='new-errors' %}
    {% else %}
        {% snippet "workflow/snippets/display_workflow_info.html", workflow={}, action='new' %}
    {% endif %}
    {% snippet "workflow/snippets/display_workflow.html", workflow={}, action='new' %}
{% endblock %}

{% block secondary %}
{% endblock %}

