{% extends "page.html" %}

{% block subtitle %}{{ c.workflow_dict.name }} - {{ _('Workflows') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Workflows'), controller='ckanext.tess.workflow:WorkflowController', action='index' %}</li>
  <li class="active">{% link_for c.workflow_dict.name|truncate(35), controller='workflow', action='read', id=c.workflow_dict.id %}</li>
{% endblock %}

{% block content_action %}
  {#% if h.check_access('workflow_update', {'id': c.workflow_dict.id}) %#}
    {% link_for _('Manage'), controller='ckanext.tess.workflow:WorkflowController', action='update', id=c.workflow_dict.id, class_='btn', icon='wrench' %}
  {#% endif %#}
{% endblock %}


{% block content_primary_nav %}
  {{ h.build_nav_icon('workflow_read', _('Workflow'), id=c.workflow_dict.name) }}
  {{ h.build_nav_icon('workflow_materials', _('Training Materials'), id=c.workflow_dict.name, offset=0) }}
  {{ h.build_nav_icon('workflow_activities', _('Activity Stream'), id=c.workflow_dict.name, offset=0) }}
{% endblock %}


{% block primary_content_inner %}
    {% snippet "workflow/snippets/display_workflow.html", workflow=c.workflow_dict.definition, action='show' %}
{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow context-info">
        <section class="module-content">
    {% block heading %}
         <h1 class="heading">{{c.workflow_dict.name}}</h1>
    {% endblock %}
    {% if c.workflow_dict.description %}
        <p>{{ h.markdown_extract(c.workflow_dict.description, 180) }}</p>
    {% else %}
        <p class="empty">{{ _('There is no description for this workflow') }}</p>
    {% endif %}
        </section>
    </div>
{% endblock %}
