{% extends "page.html" %}

{% block subtitle %}{{ c.workflow_dict.name }} - {{ _('Workflows') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Workflows'), controller='ckanext.tess.workflow:WorkflowController', action='index' %}</li>
  <li class="active">{% link_for c.workflow_dict.name|truncate(35), controller='workflow', action='read', id=c.workflow_dict.id %}</li>
{% endblock %}

{% block content_action %}
  {#% if h.check_access('workflow_update', {'id': c.workflow_dict.id}) %#}
    {% link_for _('Manage'), controller='ckanext.tess.workflow:WorkflowController', action='update', id=c.workflow_dict.id, class_='btn', icon='wrench' %}
  {#% endif %#}
{% endblock %}


{% block content_primary_nav %}
  {{ h.build_nav_icon('workflow_read', _('Workflow'), id=c.workflow_dict.name) }}
  {{ h.build_nav_icon('workflow_list', _('Materials'), id=c.workflow_dict.name, offset=0) }}
  {{ h.build_nav_icon('workflow_list', _('Activity Stream'), id=c.workflow_dict.name, offset=0) }}
{% endblock %}


{% block primary_content_inner %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.js"></script>
    <script type="text/javascript" src="https://rawgit.com/bdparrish/cytoscape.js-toolbar/master/cytoscape-toolbar.js"></script>
    <link type="text/css" href="/workflows-cytoscape.css" rel="stylesheet"/>
    <link type="text/css" href="/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    {% resource 'tess/workflows-cytoscape-toolbar.js' %}

    <div id="wf" style="display: none;">{{c.workflow_dict.definition|safe}}</div>
    <div id="cy" style="float: right;" class="cy col-md-7 col-md-offset-1"></div>
    <script>
        $(document).ready(function(){
            wf = {{ c.workflow_dict.definition|safe }};
            drawGraph(wf,'show');
    });
    </script>

{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow context-info">
        <section class="module-content">
    {% block heading %}
         <h1 class="heading">{{c.workflow_dict.name}}</h1>
    {% endblock %}
    {% if c.workflow_dict.description %}
        <p>{{ h.markdown_extract(c.workflow_dict.description, 180) }}</p>
    {% else %}
        <p class="empty">{{ _('There is no description for this workflow') }}</p>
    {% endif %}
        </section>
    </div>
{% endblock %}
