{% extends "workflow/read_base.html" %}

{% block breadcrumb_content %}
  <li>{% link_for _('Workflow'), controller='ckanext.tess.workflow:WorkflowController', action='index' %}</li>
  <li class="active">{% link_for c.workflow_dict.name|truncate(35), controller='ckanext.tess.workflow:WorkflowController', action='display_workflow_materials', id=c.workflow_dict.id %}</li>
{% endblock %}

{% block show_specific %}
    <div class="workflow-training-materials-display">
    <h3 class="heading">Training materials for {{c.workflow_dict.name}}</h3>

    {% for node, children in c.node_structure.iteritems() %}
        {% if children.get('root') %}
            {% snippet 'workflow/snippets/workflow_stage_item.html', stage=c.node_content.get(node) %}
            <ul>
            {% for child in children %}
                {% snippet 'workflow/snippets/workflow_stage_item.html', stage=c.node_content.get(child) %}
                {% if c.node_structure.get(child) %}
                    <ul>
                    {% for subchild in c.node_structure.get(child) %}
                        {% snippet 'workflow/snippets/workflow_stage_item.html', stage=c.node_content.get(subchild) %}
                        {% if c.node_structure.get(subchild) %}
                            <ul>
                            {% for subsubchild in c.node_structure.get(subchild) %}
                                {% snippet 'workflow/snippets/workflow_stage_item.html', stage=c.node_content.get(subsubchild) %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            </ul>
            <hr>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}