{% ckan_extends %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What is material?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          A material is a link to a single online training material sourced by a content provider,
            such as a text on a Web page, presentation, video, document, etc.,
            along with description and other meta information (e.g. ontological categorization, keywords, etc.)
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}