{% ckan_extends %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are training materials?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          A training material is a link to an original training resource, such as a Web page, text, presentation, video, document, dataset, course, etc.
          together with a description and other meta information.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}