{% ckan_extends %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block subtitle %}{{ _('Training materials') }}{% endblock %}

{% block breadcrumb_content %}
{% if pkg %}
{% set dataset = pkg.title or pkg.name %}
{% if pkg.organization %}
{% set organization = pkg.organization.title or pkg.organization.name %}
<li>{% link_for _('Content providers'), controller='organization', action='index' %}</li>
<li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
{% else %}
<li>{% link_for _('Training materials'), controller='package', action='search' %}</li>
{% endif %}
<li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
{% else %}
<li>{% link_for _('Training materials'), controller='package', action='search' %}</li>
<li class="active"><a href="">{{ _('Create training material') }}</a></li>
{% endif %}
{% endblock %}
