{% extends 'package/edit_base.html' %}


{% block secondary_content %}
  Help: Associate events to this training material from the suggestions{# snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true #}
{% endblock %}

{% block primary_content_inner %}
    <h2>Suggested Events</h2>
    {% if c.events %}
        {% snippet "event/snippets/events_list.html", events=c.events, related=pkg %}
    {% else %}
        <i>No suggested events found. You can find your event using the tools below (if it is on iAnn).</i><br>
        {% set events_hash = h.events() %}
        {% snippet "event/snippets/events_list.html", events=events_hash.get('events'), related=pkg, count=events_hash.get('count') %}
    {% endif %}
{% endblock %}