{% extends 'package/edit_base.html' %}

{% block secondary_content %}
  {% snippet "event/snippets/helper.html" %}
  {#% snippet "event/snippets/filters.html" %#}
{% endblock %}

{% block subtitle %}{{ _('Events') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Events'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary_content_inner %}
    {% block events_search_form %}
        {% set sorting = [ (_('Date Ascending'), 'end asc'),
                           (_('Date Descending'), 'end desc')] %}
        {% snippet 'snippets/search_form.html',     fields=[('category', c.category), ('include_expired', c.include_expired_events)],
                                            type=(c.category or 'event'),
                                            query=c.q,
                                            sorting=sorting,
                                            sorting_selected=c.sort_by_selected,
                                            count=c.events_count,
                                            placeholder=_('Search Events...'),
                                            show_empty=request.params,
                                            no_bottom_border=true if c.page.items
        %}
    {% endblock %}

    {% block events_list %}
        {% snippet "event/snippets/events_list.html", events=c.events, related=True %}
    {% endblock %}

    {% block page_pagination %}
        {{ c.page.pager() }}
    {% endblock %}

    {% block attribution %}
        <p class="events-source-title"><strong>Source:</strong>
        <a target="_blank" href="http://iann.pro"><img alt="iAnn" src="/images/iann_logo-32x30.png"/></a></p>
    {% endblock %}

{% endblock %}