{% ckan_extends %}

{% block subtitle %}{{ _("Training materials") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Training materials'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}
{% resource 'tess/hide_element.js' %}
<div class="training-material-info" >
    <h2 class="module-heading">
        <i class="icon-info-sign"></i>
        {{ _('What are Training Materials?') }}
        <button id="hide-info" data-module="hide_element" data-module-hide_class="training-material-info">X</button>
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
            <p>A <b>material</b> in TeSS is a link to an accessible, online training material along with descriptive metadata and
            an ontological categorization.</p>
            <p> Training materials in TeSS are aggregated from Content Providers or registered manually.  If you have a site containing
                training materials that you wish to be included in TeSS please contact the TeSS team at <a href="mailto:tess@elixir-uk.info"> tess@elixir-uk.info </a></p>
            <p> See the <a href="/about">About page</a> to find out more about TeSS.</p>
            {% endtrans %}
        </p>
    </div>
    </div>

  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('package_create') %}
          <div class="page_primary_action">
            {% link_for _('Add training material'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
          </div>
        {% endif %}
      {% endblock %}
      {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
      {% endblock %}
      {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

{% block package_search_results_api %}
{% endblock %}

{% endblock %}

{% block secondary_content %}
{# Reorder facets so that 'ELIXIR Nodes' (with internal key 'node_id') comes second after 'Content Provider' #}
<div class="filters">
  <div>
    {% set facet_keys, facet_values = h.tess_reorder_dataset_facets(c.facet_titles.keys(), c.facet_titles.values()) %}
    {% for facet in facet_keys %}
        {{ h.snippet('snippets/facet_list.html', title=facet_values[loop.index0], name=facet_keys[loop.index0]) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}

