{% ckan_extends %}

{% block subtitle %}{{ _("Training materials") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Training materials'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

      {% block page_primary_action %}
        {% if h.check_access('package_create') %}
          <div class="page_primary_action">
            {% link_for _('Add training material'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
          </div>
        {% endif %}
      {% endblock %}

{% block secondary_content %}
{# Reorder facets so that 'ELIXIR Nodes' (with internal key 'vocab_elixir_nodes') comes second after 'Content Provider' #}
<div class="filters">
  <div>
    {% set facet_keys, facet_values = h.tess_reorder_dataset_facets(c.facet_titles.keys(), c.facet_titles.values()) %}
    {% for facet in facet_keys %}
        {{ h.snippet('snippets/facet_list.html', title=facet_values[loop.index0], name=facet_keys[loop.index0]) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}

{% block package_search_results_api %}
{% endblock %}
